.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct__info {
    padding: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__info > button {
    margin-top: 10px;
    color: #111;
}